input{
    background-color: #6cfba3;;
border-radius: 21px; 
border: 5px solid #000;
font-size : 38px;
text-align: end;
}
.clear{
    width:100px;
}
.container{
    text-align: center;
    margin-top:23px ;
}

table{
    margin: auto;
}

.calculator{
    background-color: #dae0e4;
    padding:15px;
    border-radius: 10px;
    border: 10px solid black;
    border: 15px solid black;
    display: inline-block;
    height:425px;
    
}
button{
border-radius: 20px;
font-size: 40px;
background: #97a2a8;
width: 88px;
height: 55px;
margin: 8px;
}